<ion-header>
  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
    <ion-buttons end>
      <button *ngIf="item.isOwner" ion-button icon-only (click)="sharePrinter()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>

  <div class="item-detail">
    <ion-grid style="grid">
      <ion-row>
        <ion-col>
          <ion-card>
            <h1 style="color: #ffc300;">{{ item.paperlevel }}张</h1>
            <p>纸量</p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <h1 style="color: #2196f3;">{{ item.inklevel }}%</h1>
            <p>墨量</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="item.isOwner">
      <button *ngIf="item.status === 'offline'" ion-item (click)="turnOn()">
        <ion-icon name="power"></ion-icon>
        开启打印机
      </button>
      <button disabled *ngIf="item.status === 'eom'" ion-item>
        <ion-icon name="power"></ion-icon>
        开启打印机
      </button>
      <div *ngIf="item.status !== 'eom' && item.status !== 'offline'">
        <button ion-item (click)="shutdown()">
          <ion-icon name="power"></ion-icon>
          关闭打印机
        </button>
        <button ion-item (click)="reboot()">
          <ion-icon name="refresh"></ion-icon>
          重启打印机
        </button>
        <button ion-item (click)="clean()">
          <ion-icon name="water"></ion-icon>
          清理墨头
        </button>
        <button ion-item (click)="goMaintenance()">
          <ion-icon name="settings"></ion-icon>
          维修里程
        </button>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="item.status !== 'eom' && item.status !== 'offline'" ion-button full (click)="goPrint()">
    <ion-icon name="print"></ion-icon>
    打印文件
  </button>
  <button disabled *ngIf="item.status === 'eom' || item.status === 'offline'" ion-button full color="danger">
    <ion-icon name="print"></ion-icon>
    请检查机器
  </button>
</ion-footer>
