page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
    text-align: center;
  }

  .grid h1 {
    font-size: 300%;
    font-weight: bolder;
    padding: inherit;
  }

}
