<ion-header>
  <ion-navbar>
    <ion-title>我的打印机</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goLocal()">
        <ion-icon name="cloud-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img src="assets/img/printer.png" />
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <p>{{ item.model }}</p>
        <ion-icon *ngIf="!item.isOwner" name="link" item-right></ion-icon>
        <ion-icon *ngIf="item.isShared" name="globe" item-right></ion-icon>
        <ion-badge *ngIf="item.status === 'online'" item-right color="secondary">在线</ion-badge>
        <ion-badge *ngIf="item.status === 'offline'" item-right color="dark">离线</ion-badge>
        <ion-badge *ngIf="item.status === 'oop'" item-right color="warning">纸量不足</ion-badge>
        <ion-badge *ngIf="item.status === 'ooi'" item-right color="warning">墨水不足</ion-badge>
        <ion-badge *ngIf="item.status === 'eom'" item-right color="danger">机身异常</ion-badge>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
